/* doodles */
body.agile {
	.res-doodles {
		.res-doodle-intro {
			font-family: 'Finger Paint', cursive;
			margin: 1em 0 0 3em;
			font-size: 1.5em;
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			max-width: 35vw;
			margin: 0 0 4em;
			padding: 0;
			list-style-type: none;
			position: relative;
		}
		li {
			background-color: #fff;
			box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
			margin: 1.5em .5em .5em;
			padding: .5em;
			text-align: center;
			max-width: 8vw;
			position: relative;
			img {
				display: block;
				width: 80%;
				margin: 0 auto;
			}
			a {
				display: block;
				height: 1em;
				margin: .5em auto;
			}
			p {
				font-size: .75em;
			}
			&:hover {
				&::before {
					display: none !important;
				}
			}
		}
	}
}