
// http://beautifytools.com/

/*
// $rand-pm-100: random(200) - 100;
// $rand-0-100: random(100);
// $rand-decimal: random();
// clip-path: polygon(20px 0%, 100% 10%, 95% 95%, 30px 100%);
// 			  polygon(5% 0%, 96% 10%, 98% 97%, 3% 98%)
$rando-low1: random(5);
$rando-high1: $rando-low1 + 95;
$rando-low2: random(5);
$rando-high2: $rando-low2 + 95;
$rando-low3: random(5);
$rando-high3: $rando-low3 + 95;
$rando-low4: random(5);
$rando-high4: $rando-low4 + 95;

.test { 
	clip-path: polygon($rando-low1 % $rando-low2 %, $rando-high1 % $rando-low3 %, $rando-high2 % $rando-high3 %, $rando-low4 % $rando-high4 %); 
	}
*/
$fib-vw-lg: 100vw * .618;
$fib-vw-sm: 100vw * .382;
$fib-vw-lg-lg: $fib-vw-lg * .618;
$fib-vw-lg-sm: $fib-vw-lg * .382;
$fib-vw-sm-lg: $fib-vw-sm * .618;
$fib-vw-sm-sm: $fib-vw-sm * .382;

$fib-pct-lg: 100% * .618;
$fib-pct-sm: 100% * .382;
$fib-pct-lg-lg: $fib-pct-lg * .618;
$fib-pct-lg-sm: $fib-pct-lg * .382;
$fib-pct-sm-lg: $fib-pct-sm * .618;
$fib-pct-sm-sm: $fib-pct-sm * .382;

$fib-grid-lg: 1fr * .618;
$fib-grid-sm: 1fr * .382;
$fib-grid-lg-lg: $fib-grid-lg * .618;
$fib-grid-lg-sm: $fib-grid-lg * .382;
$fib-grid-sm-lg: $fib-grid-sm * .618;
$fib-grid-sm-sm: $fib-grid-sm * .382;

$head-full-height: 3em;
$head-shrink-height: 2em;
$foot-height: 6em;
$main-offset-padding: ($head-full-height * 2) 0 $foot-height 0;
$main-shrink-offset-padding: ($head-shrink-height * 2) 0 $foot-height 0;
//$head-foot-offset: $head-full-height + $foot-height;

$flexy-h1: calc(24px + (50 - 12) * ((100vw - 600px) / (1000 - 600)));
$flexy-p: calc(16px + (20 - 12) * ((100vw - 600px) / (1000 - 600)));
//font-size: calc(12px + (24 - 12) * ((100vw - 400px) / (800 - 400)));

// GLYPHS!: https://css-tricks.com/snippets/html/glyphs/

/*
https://css-tricks.com/rems-ems/
root px
container rem
text em
*/
/*
https://www.sitepoint.com/understanding-and-using-rem-units-in-css/
10px = 0.625rem
12px = 0.75rem
14px = 0.875rem
16px = 1rem (base)
18px = 1.125rem
20px = 1.25rem
24px = 1.5rem
30px = 1.875rem
32px = 2rem
*/

/* Imported FONTS
font-family: 'PT Serif', serif;
font-family: 'Raleway', sans-serif;
font-family: 'Patrick Hand SC', cursive;
font-family: 'Walter Turncoat', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Caveat', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Finger Paint', cursive;
*/


/* css generators https://cssauthor.com/css-generators/ */
/* background patterns https://leaverou.github.io/css3patterns/ */

/*
$light: rgb(205, 205, 205) !default;
$lightest: lighten($light, 100%) !default;
$lighter: lighten($light, 10%) !default;

$color1: rgb(186, 59, 70) !default; // R
$color2: rgb(158, 169, 63) !default; // G
$color3: rgb(97, 201, 168) !default; // B
$color4: rgb(237, 155, 64) !default; // O
$color5: rgb(227, 197, 103) !default; // Y

$dark: rgb(50, 50, 50) !default;
$darker: darken($dark, 10%) !default;
$darkest: darken($dark, 100%) !default;
$link-color: #1061a9  !default;
*/
$baseFont: 			'Raleway', sans-serif !default;
$baseFontColor: 	$coco3;
$headerFont: 		'Special Elite', serif !default;
$sectionHeadFont: 	'Permanent Marker', cursive !default;
$subSectionFont: 	'Patrick Hand SC', cursive !default;
$specialFont: 		'Walter Turncoat', cursive !default;
$customFont1: 		'Indie Flower', cursive !default;
$customFont2: 		'Amatic SC', cursive !default;
$iconFont: 			'FontAwesome' !default;

$bodyBG: 			#ceb288 !default;
$baseFontColor: 	$coco4 !default;

$darkBorderColor: 	$coco4 !default;
$star: 				"\f005" !default;
$halfStar: 			"\f5c0" !default;
$starColor: 		$color2 !default;
$chartBarColor: 	$color4 !default;
$tabIconColor: 		$color1 !default;
$paperTabColor: 	$color3 !default;

/* FONT SIZING https://codepen.io/bkirov/pen/BayBbdB */

a, a:active, a:visited { color: $link-color; text-decoration: none; }
a:hover { text-decoration: underline; }


* :focus { outline: 0; outline: none; }
//a:focus, details:focus, summary:focus, section:focus .content { outline: 0; }

//* :focus { outline-width: 2px dashed blue; }
//button:focus { outline: none; }
* .edit-active .can-edit:focus { 
  outline-width: 3px;
  outline-style: dotted;
  outline-color: red;
}
h2 {
	padding: 0;
    margin: .5em 0 -.2em;
}
ul { list-style-type: none; margin: 0; padding: 0; }
.agile ul { list-style-type: initial; margin: auto; padding: auto; }

summary { cursor: pointer; margin-top: 1em; }
/*
*:focus {
  outline-width: 2px;
  outline-style: dashed;
  outline-color: blue;
}
.can-edit:focus {
  outline-width: 3px;
  outline-style: dotted;
  outline-color: red;
}
*/
.tabs [id^="tab"]:checked + label { color: $tabIconColor; }
.barchart-bar { background: $chartBarColor; }
.agile .tabby { background: $color3 url(../img/paper-texture.png); }

$randRotate: random(10 / 2) + 1 + deg;


/* DEFAULT Layout */
html, body { min-height: 100vh; font-family: $baseFont; color: $baseFontColor; }
html { font-size: 16px; overflow: hidden; height: 100%; }
body { 
	min-height: 100vh;
	height: 100%;
    overflow: auto;
}
//body.scroll-funk { display: flex; min-height: 100vh; }



body>header, body main { visibility: hidden; }

body.loading { background: red; }
body.loading>header, body.loading main { visibility: hidden; }

body.loaded {  }
body.loaded>header, body.loaded main { visibility: visible; }

body.agile { background: rgba($bodyBG, 1) url("../img/bg-cloth-bb.png"); }

body>header, main { width: 100%; }
body>header { 
	border-bottom: 1px solid; 
	height: $head-full-height;
	position: fixed;
	background: rgba(255, 255, 255, 1); 
	text-align: center;
	z-index: 2;
	font-size: 2rem;
	//transition: height .5s, font-size .5s, box-shadow .5s;
	box-shadow: 0px -3px 34px 16px rgba(0, 0, 0, .5);

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	grid-template-columns: $fib-grid-sm $fib-grid-lg-lg $fib-grid-lg-sm;
	}


	.agile main::before {
		content: 'The TMI Resumé (tm.i)';
	    position: absolute;
		top: -.1em;
		right: -.1em;
		display: block;
		font-size: 5.4em;
	    transform: rotate(90deg);
	    margin: 1.5em 1em;
	    height: 0;
	    white-space: nowrap;
	    width: 0;
	    font-family: $headerFont;
	    font-weight: bold;
		opacity: .2;
		text-shadow: 2px -1px 0px white, 0px 0px 0px black;
		color: #776736;
		}
	body.shrink>header {
		height: $head-shrink-height;
    	font-size: 1rem;
    	box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
		}
	body.shrink main {
		padding: $main-shrink-offset-padding;
		}

main {
	padding: $main-offset-padding;
	position: relative;
	z-index: 1;
	//min-height: $head-foot-offset;
	transition: padding .5s;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	grid-template-columns: $fib-grid-sm $fib-grid-lg;
	}

body.scroll-funk main {
	overflow: hidden;
	height: 100vh;
	position: relative;
	backface-visibility: hidden;
	will-change: overflow;
	}

	aside, .main-content { 
		font-size: 1.3rem;
		padding: 1rem; 
		position: relative;

		}
	body.scroll-funk aside, 
	body.scroll-funk .main-content {
	    overflow: auto;
	    height: auto;
	    -webkit-overflow-scrolling: touch;
	    -ms-overflow-style: none;
		}
		/* Optional – removes the scrollbar on WebKit browsers */
		/* https://benfrain.com/independent-scrolling-panels-body-scroll-using-just-css/ */
		body.scroll-funk aside::-webkit-scrollbar, 
		body.scroll-funk .main-content::-webkit-scrollbar, { display: none; }


	aside { 
		grid-area: 1 / 1 / 2 / 2; 
		}
	.main-content { 
		grid-area: 1 / 2 / 2 / 3; 
		}
	body.map-active aside, body.map-active .main-content,
	body.me-active aside, body.me-active .main-content { visibility: hidden; }


    section { background: rgba(0, 0, 0, .1); padding: .5em 2em; margin: .5em 0 2em; font-size: .75em; }
	.agile section { margin: 0; padding: 0; font-size: 1.1rem; position: relative; background: none; }


	.agile section div.note-card {
		height: 20rem;
	    width: 32rem;
	    display: block;
		}
		.agile section div.note-card h4 { 
			padding: 1em 1em 0;
			font-weight: bold;
			font-size: 1.5em;
			}
		.agile section div.note-card span { margin: 0; }
			.agile section div.note-card span p {
				font-size: 1em;
				line-height: 1.5em;
				margin: 1.5em 0 0;
				font-family: $specialFont;
				}


		summary.org-summary i { display: none; }
		.agile summary.org-summary i { display: inline-block; margin-top: unset; }




	.agile section>h2 { 
		font-family: $sectionHeadFont; 
		display: inline-block;
		text-align: center;
		font-size: 1.5em;
		margin: .8em;
		padding: .5em 1em;
		white-space: nowrap;
    	min-height: auto;
		position: relative;
		color: #000;
		}
		.agile section.res-objective>h2,
		.agile section.res-summary>h2 { z-index: 10; }


footer { 
	border-top: 1px solid rgba(255, 255, 255, .3); 
	width: 100%; 
	background: #eee;
	position: absolute;
	bottom: 0;
	height: $foot-height;
	background: rgba(0, 0, 0, .1); 
	text-align: center;
	z-index: 2;
	font-size: 1rem;
	padding: 0;
	grid-column: 1 / -1;
	z-index: 100;
	}



.fade-in { opacity: 1 !important; transition: opacity 4s linear forwards !important; }
/* https://cssgrid-generator.netlify.com/ */

body>header h1, body>header>h2, body>header h3, body>header .contact-info { 
	background: rgba(0, 0, 0, 0); 
    margin: 0;
    padding: 0;

    display: inline-grid;
    align-items: center;
}
body.shrink>header h1, body.shrink>header h2 {  }
.agile>header { font-family: $headerFont; z-index: 1000000; }
body>header h1 { 
	grid-area: 1 / 1 / 3 / 2;
	order: 1;
	padding: .25em 0 0;
}
body.shrink>header h1 { grid-area: auto; padding: 0; }
body>header>h2 { 
	grid-area: 1 / 2 / 2 / 3;
	order: 3;
	grid-row-start: 2;
	grid-row-end: 3;
    font-size: .9em;
    line-height: .8em;
    margin-top: -1em;
    border-left: 1px dashed rgb(204, 204, 204);
    border-right: 1px dashed rgb(204, 204, 204);
}
body.agile>header>h2 { border: none !important; }
body.shrink>header>h2 { grid-row-start: 1; grid-row-end: 2; margin: 0; }
	body.shrink>header>h2 br { display: none; }
body>header h3 { 
	grid-area: 2 / 2 / 3 / 3;
	order: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	font-size: .5em;

	height: 2em;
	position: relative;
	}
	body>header h3::before {
		content: '<-- Look, a haiku!';
		position: absolute;
		white-space: nowrap;
		left: 97%;
		font-size: .75em;
		background: yellow;
		padding: .4em .6em 0;
		transform: rotate(37deg);
		top: 4em;
		border-radius: 5px;
		border: 1px solid orange;
	    display: none;
		}
	body.shrink>header h3 { display: none; }
		body>header h3:hover::before { display: block; }
body>header section.contact-info {
	grid-area: 1 / 3 / 3 / 4;
	order: 4;
	font-size: 1rem;
	min-height: 0;
    min-width: 0;
    position: relative;
	}
	/*
	ul.contact-info::before,
	ul.contact-info::after {
		font-family: $iconFont;
	    color: #3a3535;
	    font-size: 2em;
	    position: absolute;
	    right: .1em;
	    top: 0;
	    display: block;
	    line-height: 1em;
	    padding: .25em 0;
	    text-align: center;
	    width: 1.5em;
	    background: rgba(255, 255, 255, .5);
	    border-radius: 50%;
		}
	ul.contact-info::before:hover,
	ul.contact-info::after:hover { 
		background: rgba(0, 0, 0, .5); 
		}
	ul.contact-info::before {
	    content: '\f2bd';
		}
	ul.contact-info::after {
	    content: '\f2bb';
	    top: 52px;
		}


	img.res-photo {
		position: absolute;
		width: 9.9em;
		right: 0;
		clip-path: polygon(0 20%, 100% 20%, 100% 62%, 0 62%);
		top: -48%;
		display: none;
		}
	*/




/* Section Actions */
section article { position: relative; border-top: 1px solid rgb(187, 187, 187); padding: 0 0 1em; }
.agile section article { border-top: unset; padding: unset; }
section nav {
	position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    display: none;
	}
section article nav {
    font-size: 1.75em;
    top: .25em;
	}
.agile section nav { right: -3em; }
.agile section article nav { top: .25em; right: .4em; }
section.res-skills h3 nav {
	font-size: 1.5em;
    top: 0;
	}
	body.tools-active section nav { display: block; }
	section nav button {
	    background: none;
	    border: 0;
	    display: inline-block;
	    height: 1em;
	    width: 1em;
	    text-indent: -10000px;
	    margin: 0;
	    padding: 0;
	    position: relative;
	    text-align: center;
	    cursor: pointer;
		opacity: .3;
		text-shadow: 1px 0px 0px white, -1px 0px 1px black;
		color: rgb(119, 103, 54);
		}
		section nav button:hover,
		section.edit-active nav button.editable,
		section.print-me nav button.print-basket,
		article.edit-active nav button.editable,
		article.print-me nav button.print-basket,
		.edit-active nav button.editable,
		.print-me nav button.print-basket { opacity: .5; color: rgb(140, 0, 0); }

		section.edit-active nav button.editable:hover,
		section.print-me nav button.print-basket:hover,
		article.edit-active nav button.editable:hover,
		article.print-me nav button.print-basket:hover,
		.edit-active nav button.editable:hover,
		.print-me nav button.print-basket:hover { color: rgb(119, 103, 54); }

	section nav button::after {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		font-family: $iconFont;
		text-indent: 0;
		font-size: 1em;
		}
	nav button.editable {  }
	nav button.editable::after {
		content: '\f044';
		}
	nav button.print-basket::after {
		content: '\f217';
		top: -3px;
		}		

	.edit-active nav button.editable::after,
	.edit-active nav button.editable::after {
		content: '\f28d';
		}

	.print-me nav button.print-basket::after,
	.print-me nav button.print-basket::after {
		content: '\f07a';
		}
		nav button span { 
			display: block; 
			position: absolute; 
			top: 0; 
			left: 0; 
			width: 100%;
			height: 100%;
			z-index: 101;
			}



// cart \f217 <i class="fas fa-cart-plus"></i>
// edit  <i class="fas fa-edit"></i>
// print \f02f <i class="fas fa-print"></i>




/* ME! */
div.res-me { 
	width: 100%;
    height: 100%;
    position: fixed;
    right: -110%;
    top: 0;
    bottom: 0;
    text-align: left;
    padding-top: 3rem;
    opacity: 0;
    transition: right .5s ease-in-out, opacity .5s ease-in-out;
}

div.res-me.active { right: 0; opacity: 1; }
	div.res-me article { 
		font-size: 1em;
	    margin: 16vh 5vw;
	    height: 66vh;
	    width: 50vw;
	    overflow-x: hidden;
	    overflow-y: auto;
		}

		div.res-me article p {
			margin: 0;
			font-family: 'Architects Daughter', cursive;
			display: block;
			font-size: 1.5em;
			padding: 0 1em 1em;
			}
	div.res-me span { 
		display: inline-block; 
		position: absolute;
		right: 8em;
		bottom: -10vh;
		height: 90vh;
		}
		div.res-me.active img {
			height: 100%;

   -webkit-animation: flickerAnimation 30s infinite;
   -moz-animation: flickerAnimation 30s infinite;
   -o-animation: flickerAnimation 30s infinite;
    animation: flickerAnimation 30s infinite;
			}
	div.res-me.active span::after {
		content: '';
		height: 100%;
		background: url(../img/moi-3.png) 100% 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 0;

   -webkit-animation: flickerAnimation 20s infinite;
   -moz-animation: flickerAnimation 20s infinite;
   -o-animation: flickerAnimation 20s infinite;
    animation: flickerAnimation 20s infinite;
		}



/* map/me closer */
.res-map button.closer,
.res-me button.closer {
	z-index: 100;
    position: absolute;
	top: 10vh;
    left: 69vw;
    display: inline-block;
    height: 5em;
    width: 5em;
    text-indent: -10000px;
    text-align: center;
    border: 0;
    background: none;
    cursor: pointer;
	}
.res-me button.closer {  }	
.res-map button.closer {  }
	.res-map button.closer::after,
	.res-me button.closer::after {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		font-family: 'Special Elite', cursive;
		text-indent: 0;
		font-size: 5em;
		content: 'x';
		transform: rotate(20deg);
	    font-weight: bold;
	    opacity: .5;
	    text-shadow: 1px 1px 2px white, -1px -1px 2px black;
	    color: rgb(119, 103, 54);
		}




/* MAP */
div.res-map {
	width: 85%;
	height: 100%;
    position: fixed;
    right: -110%;
    bottom: 0;
    top: 0;
    border-right: 2px dotted rgba(140, 0, 0, 0.5);
    border-bottom: none;
    text-align: left;
    padding-top: 3rem;
    opacity: 0;
    transition: right .5s ease-in-out, opacity .5s ease-in-out;
	}
body.shrink div.res-map { padding-top: 2rem;  }
div.res-map.active { right: 0; opacity: 1; }
div.res-map:hover { border-color: rgba(140, 0, 0, 1); }
	div.res-map #Commute { height: 100%; width: 100%; }

	div.res-map-info {
		position: absolute;
		bottom: 0;
		border-top: 1px solid #8c0000;
		width: 100%;
		left: 0;
		background: rgba(58, 53, 53, 0.76);
		color: #fff;
		text-shadow: 2px 2px 3px #000;

		}


	//div.res-map #Commute .gm-style-iw { border: 3px solid rgba(140, 0, 0, 1); }
#mapContent h4 { margin: 0; font-size: 1em; }
div.res-map-info p { 
	margin: .25em;
    font-size: 1em;
    line-height: 1.25em;
    padding: .5em;
    text-align: center;
	}
	div.res-map-info p strong {  }
div.res-map-info p.thinking { 
    position: relative;
    min-width: 20em;
    min-height: 2em;
}


@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}
@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
.thinking::after {
	content: '';
    display: block;
    position: absolute;
    left: .5em;
    top: .5em;
    width: 1em;
    height: 1em;
    border-style: dotted;
    border-color: #ed9a40;
    border-top-color: transparent;
    text-shadow: 2px 2px 3px white;
    border-width: 4px;
    border-radius: 50%;
    -webkit-animation: spin .8s linear infinite;
    animation: spin .8s linear infinite;
}





/* Me Deets 

	body>header section.contact-info ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: right;
		min-height: 0;
		min-width: 0;
		}
		body>header section.contact-info li {
			padding: 0;
			margin: 0;
			min-height: 0;
			min-width: 0;
			color: $link-color;
			}
		body>header section.contact-info li.wrap { display: inline-block; }
			section.contact-info address { display: inline-block; font-style: normal; }
				section.contact-info address .line-one,
				body>header section.contact-info li.me { display: none; }
			section.contact-info a, section.contact-info i { 
				position: relative;
				padding: 0 .5em 0 0;
				display: inline-block;
				opacity: .8;
				}
			section.contact-info i {
				padding: 0;
				vertical-align: middle;
    			}
			section.contact-info i.active {
				color: rgba(140, 0, 0, 1);
    			}
			section.contact-info a:hover,
			section.contact-info i:hover { opacity: 1; }
			section.contact-info a::before {
				content: ' ';
				min-height: 1em;
				width: 1em;
				display: inline-block;
				margin-right: .25em;
				vertical-align: middle;
				line-height: 1em;
				font-family: $iconFont;
				}
			section.contact-info a.address::before { content: '\f041'; }
			section.contact-info a.pdf::before { content: '\f1c1'; }
			section.contact-info a.phone::before { content: '\f10b'; }
			section.contact-info a.email::before { content: '\f0e0'; }
			section.contact-info a.linkedin::before { content: '\f08c'; }
				li.me {  }
				.contact-info li.debug-toggle { display: none; }
*/



.contact-info {
	min-height: 0;
	min-width: 0;
	position: absolute;
	right: -100%;
	top: 0;
	transition: right .4s ease-in-out;
	cursor: pointer;
}
.contact-info.active { right: 0; cursor: unset; }
.contact-info ul {
	list-style-type: none;
    margin: 0;
    padding: 3em 0 0 0;
    border: 1px solid;
    border-width: 0 0 1px 1px;
    background: #fff;
    box-shadow: 20px 6px 30px rgba(0, 0, 0, 0.5);
}
.contact-info::before,
.contact-info::after,
.contact-info.active::after {
	content: 'More Stuff';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 100%;
    padding: .6em .5em .5em 2.5em;
    display: inline-block;
    font-size: 1.5em;
    text-align: left;
    border-bottom: 1px solid;
    line-height: .75em;
    z-index: 5;
    transition: 
    	height .2s linear, 
    	width .2s linear, 
    	top .2s linear,
    	left .2s linear;
	}
.contact-info::after { color: transparent; }
.contact-info.active::after { color: inherit; }
/*
.contact-info:not(.active):hover::after { // moved to media query
	content: '';
	text-indent: -100000;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 50%;
    border-width: 0 2px 4px 2px;
    font-size: 4em;
    width: 1em;
    padding: 4px 2px 0 2px;
    height: 1em;
    line-height: 1em;
    top: 14px;
    left: -87px;
    animation: rotating 2s linear infinite;
}
*/
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.contact-info::before {
	content: '\f05a'; // f05a f142
    font-family: "FontAwesome";
    border: 1px solid transparent;
    background: none;
    width: 1.5em;
    text-align: center;
    transition: all .4s linear;
    padding: 0;
	height: 1.5em;
    line-height: 1.5em;
    top: 0;
    left: -100px;
    font-size: 4em;
    border-radius: 50%;
	}
.contact-info.active::before { 
	left: 1px; 
    border-right: 1px solid #000;
	background: rgb(238, 238, 238);
    line-height: 1.85em;
    width: 2em;
    height: 1.9em;
    font-size: 1.5em;
    border-radius: 0;
}

.contact-info li {
    text-align: left;
    margin: 0;
    padding: .3em 1em .3em .5em;
}
.contact-info li.toggler.pallet-toggle, .contact-info li.toggler.fonts-toggle {
    padding-left: 3em;
}
.contact-info li.just-the-tip,
.contact-info li.just-the-tip:hover { 
	height: 1.75em;
    background: rgba(0, 0, 0, 0.8) !important;
    padding: 0;
    position: relative;
    top: -3px;
    z-index: 5;
}
.contact-info.active li.just-the-tip:after {
	content: 'x';
    position: absolute;
    top: -1.3em;
    right: .5em;
    color: rgb(255, 0, 0);
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    z-index: -1;
}
.contact-info button, .contact-info a {
	display: block;
	border: 0;
	background: none;
	padding: 0;
	margin: 0;
	color: red;
}
.contact-info li:hover { background: #eee; }
//.contact-info a:focus, .contact-info button:focus { background: #eee; }

.contact-info li.active,
.contact-info li.active button,
.contact-info li.active a { background: #800; color: #fff; }
.contact-info li button>span,
 .contact-info li a>span,
  .contact-info li address>span { padding-left: 1em; font-style: normal; }
  .contact-info li a:hover, .contact-info li a:focus { text-decoration: none; }
.contact-info address { display: inline; }
.contact-info .line-one { display: none; }
.contact-info i {
	display: inline-block;
    width: 2.2em;
    text-align: center;
    border-right: 1px solid;
    padding: 0 .15em;
}

/* theme toggle */

.contact-info li.theme-toggle i.fa-toggle-on {
	display: none;
}
.contact-info li.theme-toggle i.fa-toggle-off {
	display: inline-block;
}
.contact-info li.theme-toggle.active i.fa-toggle-off,
.agile .contact-info li.theme-toggle i.fa-toggle-off {
	display: none;
}
.contact-info li.theme-toggle.active i.fa-toggle-on,
.agile .contact-info li.theme-toggle i.fa-toggle-on {
	display: inline-block;
}

/* tts toggle */

.contact-info li.tts-toggle i.fa-comment-dots {
	display: none;
}
.contact-info li.tts-toggle i.fa-comment {
	display: inline-block;
}
.contact-info li.tts-toggle.active i.fa-comment,
.tts .contact-info li.tts-toggle i.fa-comment {
	display: none;
}
.contact-info li.tts-toggle.active i.fa-comment-dots,
.tts .contact-info li.tts-toggle i.fa-comment-dots {
	display: inline-block;
}



/* mobile menu 
.is_mobile_device body>header section.contact-info {
	position: absolute;
	top: 0;
	right: 0;
	right: -101vw; // closed
    height: 100vh;
    width: 100vw;
    text-align: left;
    background: #eee;
    font-size: 1rem;
    z-index: 1000000;
    transition: right .5s ease-in-out;
	}
	.is_mobile_device body>header section.contact-info.open { right: 0; }
	.is_mobile_device body>header section.contact-info::before,
	.is_mobile_device body>header section.contact-info::after {
		content: 'More Stuff';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: .6em .5em .5em 3em;
		display: inline-block;
		font-size: 2em
		}
	.is_mobile_device body>header section.contact-info::before {
		content: '\f142';
		font-family: $iconFont;	
		padding: .5em;
		top: -.15em; // closed
		left: -12vw; // closed
	    border-left: 1px solid rgb(204, 204, 204);
	    background: rgb(238, 238, 238);
	    height: 1em;
	    width: .75em;
	    text-align: center;

    	transition: all .5s linear;
		}
	.is_mobile_device body>header section.contact-info.open::before { top: 0; left: 0; }

	.is_mobile_device body > header section.contact-info ul { 
		text-align: left;
	    position: absolute;
	    top: 4em;
	    width: 100%;
	    background: #fff;
	    opacity: 0; // closed
	    transition: opacity .5s ease-in-out;
		}
	.is_mobile_device body > header section.contact-info.open ul { opacity: 1; }
		.is_mobile_device body > header section.contact-info ul li { 
			padding: 1em 1em 1em 3em; 
			border-bottom: 1px solid; 
			font-size: 1em;
			width: 100%;
			background: #ccc;
			display: block !important;
			}
		.is_mobile_device .contact-info li.debug-toggle { display: block; }
		.is_mobile_device body > header section.contact-info ul li:nth-child(odd) { background: #aaa; } 
			.is_mobile_device body > header section.contact-info ul li span,
			.is_mobile_device body > header section.contact-info ul li a,
			.is_mobile_device body > header section.contact-info ul li i {
				font-size: 1.5rem !important;
				display: inline-block;
				margin: 0;
				padding: 0 .5em;
				color: #000;
				}
*/





	body.shrink>header section.contact-info li a span,
	body.shrink>header section.contact-info li a address { display: none; }

body.shrink>header section.contact-info ul {
    position: relative;
    right: 1em;
	}

body.shrink>header section.contact-info ul li {
	display: inline-block;
    position: relative;
    width: 1.5em;
    font-size: 1.6em;
    margin: 0;	
    padding: 0;
	text-align: center;
	}
body.shrink>header section.contact-info ul li.mappy { width: 2.5em; }

body.shrink>header section.contact-info ul li a {
	display: inline-block;
	height: 100%;
	padding: 0;
	margin: 0;
}

body.shrink>header section.contact-info ul li i,
body.shrink>header section.contact-info ul li a:before {
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	font-size: inherit;
}

/*
body.shrink>header section.contact-info li.me { display: inline; }
body.shrink>header section.contact-info ul li.mappy { width: 3em; }
body.shrink>header section.contact-info ul li i { vertical-align: middle; cursor: pointer; }
	body.shrink>header section.contact-info ul li a {
		padding: 0 .5em;
		top: 0;
		line-height: 1em;
    	text-align: left;
    	width: .5em;
		}

		body.shrink>header section.contact-info ul li a::before {
		    left: 0;
			}
		body.shrink>header section.contact-info a.linkedin::before { background-size: 80%; padding: 0; }
		body.shrink>header section.contact-info a.phone::before { font-size: 1.25em; }
		body.shrink>header section.contact-info a.pdf::before { font-size: .8em; }
*/



section.res-deets ul {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 20vw;
	bottom: -2em;
	right: 0;
}


p { font-size: 1.1em; }



/* Back to top */
footer .toppy, footer .tooly, footer .cleany, footer .zen {
    width: 1.5em;
    height: 1.5em;
    display: none;
    padding: 0;
    margin: 0;
    position: fixed;
	right: 1.5vw;
    top: 2.5em;
    text-align: center;
    cursor: pointer;
    color: rgba(255, 255, 255, .2);
    z-index: 50;
    font-family: "FontAwesome";
    font-size: 3em;
    //border: 1px solid #b7ab98;
    border-radius: 50%;
    line-height: .95em;
	opacity: .2;
	text-shadow: 2px -1px 0px white, 0px 0px 0px black;
	color: #776736;
	}
.agile footer .toppy {
	//top: auto;
	//bottom: 1.75em;
	display: block;
}
.agile footer .tooly { 
	top: 6em; 
	display: block; 
    font-size: 2.5em;
    padding: .1em;
	}
.agile footer .cleany { 
    top: 4.5em;
    display: block;
    font-size: 2.5em;
    padding: .1em;
	}
footer .zen { 
    top: 4.25em;
    display: block;
    font-size: 2.5em;
    padding: .1em;
	}
footer .cleany:hover { transform: rotate(-10deg); }
body.entropy footer .cleany:hover { transform: rotate(0deg); }
body.entropy footer .cleany { transform: rotate(-10deg); }
footer .toppy::after, footer .tooly::after, footer .cleany::after, footer .zen::after { 
	content: 'Tools';
    font-size: .4em;
    position: absolute;
    left: 0;
    color: #000;
    font-weight: normal;
    width: 100%;
    text-align: center;
    bottom: 0;
	font-family: $headerFont;
	display: none;
	}
footer .toppy::after { content: 'Top'; }
footer .zen::after { 
	content: 'Intro'; 
	bottom: 1.2em; 
	height: 1em;
	line-height: 1em; 
}
.entropy footer .cleany::after { content: 'Order'; }
footer .cleany::after { content: 'Disorder'; font-size: .35em; }
footer .toppy:hover, 
footer .tooly:hover, 
footer .cleany:hover, 
footer .zen:hover { 
	opacity: .4; 
}
footer .toppy:hover::after, 
footer .tooly:hover::after, 
footer .cleany:hover::after, 
footer .zen:hover::after { 
	display: block; 
}
body.shrink footer .toppy { display: block; }
.resizr footer .tooly { display: none; }

footer .zen {
	background: url(../img/zen-circle1.png) center center;
	background-size: 90%;
	background-repeat: no-repeat;
    width: 1.25em;
    height: 1.25em;
    right: 1.75vw;
    animation: zen-rotate 20s infinite linear;
    animation-play-state: running;
}
footer .zen:hover { animation-play-state: paused; transform: rotate(0deg);}
@keyframes zen-rotate {
	100% { transform: rotate(-360deg); }
}








/* ANALOG Layout */
.analog aside ul.tabs, 
.analog aside ul, 
.analog aside ul li {
	list-style: none;
    margin: 0;
    padding: 0;
}
.analog aside ul ul.tabs li,
.analog aside ul ul.tabs li input,
.analog aside ul ul.tabs li label { display: none; }
.analog aside ul.tabs li.stars { display: block; margin: 0; padding: 0; font-size: 1rem; }
.analog aside .tab-content { border: 1px solid; }
.analog aside .tab-content dl {
	margin: 0;
	padding: 0;
	}
	.analog aside .tab-content dt, 
	.analog aside .tab-content dd {
		margin: 0;
		padding: .25em;
		display: inline-block;
		line-height: 1.2em;
    	vertical-align: middle;
		}
	.analog aside .tab-content dt { font-weight: bold; text-align: right; width: 33%; }
	.analog aside .tab-content dd { white-space: nowrap; letter-spacing: .25em; }
	/* stars */
		.analog aside  .tab-content dd i { font-size: 0.8em; color: $starColor; }
		.full-star:before { content: $star; }
		.half-star:before { content: $halfStar; }
		.empty-star:before { content: $star; }
	.analog aside .tab-content dd.res-years { display: none; }







/* Hacks & Helps */
.clearfix::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
.visually-hidden { 
	position: absolute !important;
	height: 1px; 
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
	}






h4.todo, ul.todo {
	width: 300px;
    margin: 0 auto;
    text-align: left;
}

footer ul.current-fonts {
	z-index: 1000;
	list-style-type: none;
	text-align: left;
	margin: 0;
	padding: 0;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fff;
	display: none;
	right: 70px;
	height: 30px;
    border: 3px solid rgba(140, 0, 0, .5);
    border-radius: 10px 10px 0 0;
    border-bottom: none;
	}
footer ul.current-fonts.active { display: block; }
	footer ul.current-fonts li {
		display: inline-block;
		margin: 0;
		padding: .25em .5em;
		white-space: nowrap;
		}
	footer ul.current-fonts li:first-child { border-radius: 7px 0 0 0;  }
	footer ul.current-fonts li:last-child { border-radius: 0 7px 0 0;  }
.pt-serif { font-family: 'PT Serif', serif; } 
.raleway { font-family: 'Raleway', sans-serif; }
.patrick { font-family: 'Patrick Hand SC', cursive; }
.walter { font-family: 'Walter Turncoat', cursive; }
.amatic { font-family: 'Amatic SC', cursive; }
.marker { font-family: 'Permanent Marker', cursive; }
.indie { font-family: 'Indie Flower', cursive; }
.caveat { font-family: 'Caveat', cursive; }
.special { font-family: 'Special Elite', cursive; }
.architect { font-family: 'Architects Daughter', cursive; }
.finger { font-family: 'Finger Paint', cursive; }



footer ul.current-pallet {
	z-index: 1000;
	list-style-type: none;
    margin: 0 auto;
	padding: 0;
	height: 50px;
	position: fixed;
	bottom: 0;
	display: none;
	right: 70px;
    border: 3px solid rgba(140, 0, 0, .5);
    border-radius: 10px 10px 0 0;
    border-bottom: none;
	}
footer ul.current-pallet.active { display: block; }
	footer ul.current-pallet li {
		width: 30px;
		display: inline-block;
		height: 100%;
		margin: 0;
		padding: 0;
		float: left;
		}
	footer ul.current-pallet li:nth-child(1) { background: $lightest; border-radius: 7px 0 0 0; }
	footer ul.current-pallet li:nth-child(2) { background: $lighter; }
	footer ul.current-pallet li:nth-child(3) { background: $light; }
	footer ul.current-pallet li:nth-child(4) { background: $color1; }
	footer ul.current-pallet li:nth-child(5) { background: $color2; }
	footer ul.current-pallet li:nth-child(6) { background: $color3; }
	footer ul.current-pallet li:nth-child(7) { background: $color4; }
	footer ul.current-pallet li:nth-child(8) { background: $color5; }
	footer ul.current-pallet li:nth-child(9) { background: $dark; }
	footer ul.current-pallet li:nth-child(10) { background: $darker; }
	footer ul.current-pallet li:nth-child(11) { background: $darkest; }
	footer ul.current-pallet li:nth-child(12) { background: $link-color; border-radius: 0 7px 0 0; }

footer ul.res-panel:hover { z-index: 1001; border-color: rgba(140, 0, 0, 1);}


.resizr { position: relative; width: 100%; }
.resizr body { position: relative; border-right: 2px dashed #880000; }
.resizr body.device-desktop, .resizr body.device-tv { border-right: none; }
#ResizR { 
	position: fixed;
	right: 1.8rem;
    top: 17.5em;
    display: inline-block;
    z-index: 100;
    border-top: 2px solid #65583c4f;
    width: 50px;
    text-align: center;
    padding: 0;
}

#ResizR, #ResizR li { 
	list-style: none;
	margin: 0;
	font-size: 14px;
	font-family: $headerFont;
	display: block;
}
//.resizr.device-desktop #ResizR li { display:inline-block; }
#ResizR li { 
	text-align: center;
    padding: 10px 4px 0;
    cursor: pointer;
    position: relative;
    opacity: .4;
    text-shadow: 1px 0px 0px white, 0px 0px 0px black;
    color: #776736;
    margin: 0 auto;
	}
	#ResizR li:first-child { 
		padding-top: 12px;
    	border-top: 1px solid #ffffff9e; 
		}
#ResizR li:hover { opacity: .6; }
#ResizR li i { 
	font-size: 30px; 


}
#ResizR li.active { color: rgba(140, 0, 0, .8); opacity: .8; }
#ResizR li i.landscape { transform: rotate(-90deg); }
#ResizR li span { 
	display: none; 
	padding: 0 0 0px;
    position: absolute;
    bottom: .5em;
    left: 0;
    width: 100%;
	}
#ResizR li:hover span { display: block; color: #000; }

body.device-watch, body.device-watch>header {
	max-width: 218px;
}
html.device-watch { font-size: 6px; }
body.device-phone-portrait, body.device-phone-portrait>header { 
	max-width: 360px; 
	main, aside, .main-content { display: block; grid-area: none; }
		.fancy-modal { width: 70vw; left: 5vw; }
		.fancy-modal a.modal-closer { margin: 2em 0 0; position: relative; bottom: auto; line-height: 1.25em; right: auto;
		}
	.fancy-modal .modal-content { padding: 0 1em; }

}
html.device-phone-portrait { font-size: 8px; }

body.device-phone-landscape, body.device-phone-landscape>header { 
	max-width: 599px; 
}
html.device-phone-landscape { font-size: 8px; }

body.device-tablet-portrait, body.device-tablet-portrait>header { 
	min-width: 600px;
	width: 899px;
}
html.device-tablet-portrait { font-size: 11px; }

body.device-tablet-landscape, body.device-tablet-landscape>header { 
	min-width: 900px;
	width: 1199px;
}
html.device-tablet-landscape { font-size: 14px; }

body.device-desktop { 
	min-width: 1200px;
	width: 100%;
}
body.device-tv { 
	min-width: 2560px;
	//width: 100%;
}
html.device-tv { font-size: 24px; }



/* parseOmatic */

.all-parsed {    
	position: fixed;
    width: 80%;
    left: 1%;
    top: 120%;
    height: 66%;
    z-index: 100000;
    font-size: 1em;
    padding: 2em;
    background: rgba(0, 0, 0, .5);
    border-radius: .25em;
    opacity: 0;
    transition: top .5s ease-in-out, opacity .5s ease-in-out;
	}
.all-parsed.active {
	top: 20%;
	opacity: 1;
	}
	.all-parsed span {
		display: block;
		padding: 1em;
		height: 90%;
	    overflow-y: auto;
	    overflow-x: hidden;
	    border: 1px solid #000;
	    background: rgba(0, 0, 0, .5);
		}
		.all-parsed h4 {
			text-align: center;
		    font-size: 1.5em;
		    margin: .5em;
		    font-weight: bold;
		    color: rgb(255, 165, 0);
			}

		.ua-parsed {}
			.ua-parsed dt, .ua-parsed dd { 
				display: inline-block; 
				vertical-align: top; 
			    margin: 0;
			    padding: .25em .5em 0 0;
				}
			.ua-parsed dt { color: salmon; width: 30%; text-align: right; }
			.ua-parsed dd { 
				color: ivory; width: 60%;
				overflow-wrap: break-word;
				word-wrap: break-word;
				}
		.ip-parsed {}
			.ip-parsed dt, .ip-parsed dd {
				display: inline-block; 
				vertical-align: top; 
			    margin: 0;
			    padding: .25em .5em 0 0;
				}
			.ip-parsed dt { color: salmon; width: 30%; text-align: right; }
			.ip-parsed dd { color: ivory; width: 60%; }






