@import url("https://use.fontawesome.com/releases/v5.12.0/css/all.css");
@import url("https://cdn.emojidex.com/scripts/css/emojidex.min.css");
@import url("https://unpkg.com/flickity@2/dist/flickity.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic%7CMaterial+Icons%7CAmatic+SC%7CArchitects+Daughter%7CCaveat%7CIndie+Flower%7CPT+Serif%7CPatrick+Hand+SC%7CFinger+Paint%7CPermanent+Marker%7CAmita%7CRaleway%7CSpecial+Elite%7CWalter+Turncoat&display=swap");

$fib-vw-lg: 100vw * 0.618;
$fib-vw-sm: 100vw * 0.382;
$fib-vw-lg-lg: $fib-vw-lg * 0.618;
$fib-vw-lg-sm: $fib-vw-lg * 0.382;
$fib-vw-sm-lg: $fib-vw-sm * 0.618;
$fib-vw-sm-sm: $fib-vw-sm * 0.382;

$fib-pct-lg: 100% * 0.618;
$fib-pct-sm: 100% * 0.382;
$fib-pct-lg-lg: $fib-pct-lg * 0.618;
$fib-pct-lg-sm: $fib-pct-lg * 0.382;
$fib-pct-sm-lg: $fib-pct-sm * 0.618;
$fib-pct-sm-sm: $fib-pct-sm * 0.382;

$fib-grid-lg: 1fr * 0.618;
$fib-grid-sm: 1fr * 0.382;
$fib-grid-lg-lg: $fib-grid-lg * 0.618;
$fib-grid-lg-sm: $fib-grid-lg * 0.382;
$fib-grid-sm-lg: $fib-grid-sm * 0.618;
$fib-grid-sm-sm: $fib-grid-sm * 0.382;

$randRotate: random(10 / 2) + 1 + deg;

$head-full-height: 6rem;
$head-shrink-height: 2em;
$foot-height: 6rem;
$main-offset-padding: $head-full-height 0 $foot-height 0;
$main-shrink-offset-padding: ($head-shrink-height * 2) 0 $foot-height 0;

$flexy-h1: calc(24px + (50 - 12) * ((100vw - 600px) / (1000 - 600)));
$flexy-p: calc(16px + (20 - 12) * ((100vw - 600px) / (1000 - 600)));

$baseFont: "Raleway", sans-serif !default;
$baseFontColor: $coco3;
$headerFont: "Special Elite", serif !default;
$sectionHeadFont: "Permanent Marker", cursive !default;
$subSectionFont: "Patrick Hand SC", cursive !default;
$specialFont: "Walter Turncoat", cursive !default;
$customFont1: "Indie Flower", cursive !default;
$customFont2: "Amatic SC", cursive !default;
$iconFont: "FontAwesome" !default;

$bodyBG: #ceb288 !default;
$baseFontColor: $coco4 !default;

$darkBorderColor: $coco4 !default;
$star: "\f005" !default;
$halfStar: "\f5c0" !default;
$starColor: $color2 !default;
$chartBarColor: $color4 !default;
$tabIconColor: $color1 !default;
$paperTabColor: $color3 !default;

/* Hacks & Helps */
.clearfix::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/* general base */
a {
  color: $link-color;
  text-decoration: none;
  &:active {
    color: $link-color;
    text-decoration: none;
  }
  &:visited {
    color: $link-color;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}
* {
  &:focus {
    outline: 0;
    outline: none;
  }
  .edit-active {
    .can-edit {
      &:focus {
        outline-width: 3px;
        outline-style: dotted;
        outline-color: red;
      }
    }
  }
}
p {
  font-size: 1.1em;
}
h2 {
  padding: 0;
  margin: 0.5em 0 -0.2em;
}
h2,
h3 {
  position: relative;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Tables general **********************************/
table {
  border: 3px solid #fff;
  text-align: left;
  border-collapse: collapse;
  th {
    border-bottom: 1px solid #000000;
    font-weight: bold;
    color: #000000;
    text-align: left;
    padding: 0 10px 0 10px;
  }
  tbody {
    tr {
      &:nth-child(odd) {
        background: #d0e4f5;
      }
    }
  }
  td {
    padding: 0 10px 0 10px;
  }
  tfoot {
    border-top: 3px solid #000000;
  }
}

/* primary layout */

html {
  min-height: 100vh;
  font-family: $baseFont;
  color: $baseFontColor;
  font-size: 16px;
  overflow: hidden;
  height: 100%;
}
body {
  min-height: 100vh;
  font-family: $baseFont;
  color: $baseFontColor;
  min-height: 100vh;
  height: 100%;
  overflow: auto;
  margin: 0;
  #root > header {
    visibility: hidden; // revealed after load
    width: 100%;
    border-bottom: 1px solid;
    height: $head-full-height;
    position: fixed;
    background: rgba(255, 255, 255, 1);
    text-align: center;
    z-index: 2;
    font-size: 2rem;
    box-shadow: 0px -3px 34px 16px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: $fib-grid-sm $fib-grid-lg-lg $fib-grid-lg-sm;

    > h1 {
      background: rgba(0, 0, 0, 0);
      margin: 0;
      padding: 0;
      display: inline-grid;
      align-items: center;
      grid-area: 1 / 1 / 3 / 2;
      order: 1;
      padding: 0.25em 0 0;
    }
    > h2 {
      background: rgba(0, 0, 0, 0);
      margin: 0;
      padding: 0;
      display: inline-grid;
      align-items: center;
      grid-area: 1 / 2 / 2 / 3;
      order: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      font-size: 0.9em;
      line-height: 0.8em;
      margin-top: -1em;
      border-left: 1px dashed rgb(204, 204, 204);
      border-right: 1px dashed rgb(204, 204, 204);
    }
    > h3 {
      background: rgba(0, 0, 0, 0);
      margin: 0;
      padding: 0;
      display: inline-grid;
      align-items: center;
      grid-area: 2 / 2 / 3 / 3;
      order: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      font-size: 0.5em;
      height: 2em;
      position: relative;
    }
    > section.contact-info {
      background: rgba(0, 0, 0, 0);
      margin: 0;
      padding: 0;
      display: inline-grid;
      align-items: center;
      grid-area: 1 / 3 / 3 / 4;
      order: 4;
      font-size: 1rem;
      min-height: 0;
      min-width: 0;
      position: relative;
    }
  }
  main {
    visibility: hidden; // revealed after load
    padding: $main-offset-padding;
    position: relative;
    z-index: 1;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: $fib-grid-sm $fib-grid-lg;
    > aside {
      font-size: 1.3rem;
      padding: 1rem;
      position: relative;
      grid-area: 1 / 1 / 2 / 2;
    }
    > .main-content {
      font-size: 1.3rem;
      padding: 1rem;
      position: relative;
      grid-area: 1 / 2 / 2 / 3;
    }
    > footer {
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      width: 100%;
      background: #eee;
      position: absolute;
      bottom: 0;
      height: $foot-height;
      background: rgba(0, 0, 0, 0.1);
      text-align: center;
      z-index: 2;
      font-size: 1rem;
      padding: 0;
      grid-column: 1 / -1;
      z-index: 100;
    }

    section {
      background: rgba(0, 0, 0, 0.1);
      padding: 0.5em 2em;
      margin: 0.5em 0 2em;
      font-size: 0.75em;
      > h2 {
        background: rgb(136, 0, 0);
        color: rgb(255, 255, 255);
        margin: 0 -1em;
        padding: 0.5em 1em;

        span {
          position: absolute;
          right: 0.5em;
          top: 0.5em;
          display: block;
          height: 1em;
          cursor: pointer;
          width: 10em;
          display: block;
          text-align: right;
          font-size: 1.25rem;
          &::after {
            content: "Open all \f103";
            font-family: $iconFont;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
          }
        }
        span.active {
          &::after {
            content: "Close all \f102";
          }
        }
      }
      > div {
        > h2 {
          background: rgb(136, 0, 0);
          color: rgb(255, 255, 255);
          margin: 0 -1em;
          padding: 0.5em 1em;
        }
      }
      > article {
        position: relative;
        border-top: 1px solid rgb(187, 187, 187);
        padding: 0 0 1em;
      }
      h3,
      h4,
      h5 {
        margin: 0.5rem 0 0;
        font-size: 1.25rem;
      }
      h3 {
        //color: green;
      }
      h4 {
        //color: purple;
      }
      h5 {
        //color: orange;
        font-size: 1.1rem;
      }
      p {
        //color: red;
        margin: 0.5rem 1rem 1rem;
      }
      blockquote {
        margin: 1rem 0 3rem;
      }
      cite {
        margin: 0 2rem;
        display: block;
      }
      li {
        //color: blue;
      }
      dt,
      dd {
        display: inline-block;
        width: 70%;
        text-align: top;
        vertical-align: top;
        margin: 0;
      }
      dt {
        text-align: right;
        width: 20%;
      }
      dd {
        padding-left: 1em;
      }
      .note-card-text ul {
        margin: 0.5em 1em 1em;
        li {
          list-style-type: square;
          padding: 0.5rem;
        }
      }
      .org-skill-list li {
        display: inline-block;
        padding: 0.5rem;
      }

      details {
        .show-toggle {
          padding-left: 0.5em;
          display: inline;

          &.show-less {
            padding-left: 0.5em;
            display: none;
          }
        }
        &[open] {
          .show-more {
            display: none;
          }
          .show-less {
            display: inline;
          }
        }
        summary {
          cursor: pointer;
          margin-top: 1em;

          > i.fas {
            display: none;
          }
        }
        ul.custom-list {
          margin: 0 0 0 2em;
          li {
            list-style-type: square;
            padding: 0.5rem;
          }
        }
        .gallery {
          li {
            display: inline-block;
            margin: 0.5rem;
            p {
              display: none;
            }
          }
          img {
            height: 100px;
          }
        }
      }
    }
  }
  #HEY {
    display: none;

    height: 62%;
    position: fixed;
    z-index: 10000;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0px -8px 30px rgba(0, 0, 0, 0.8);
    text-align: center;

    bottom: -100%;
    opacity: 0;
    transition: bottom 0.4s ease-in-out, opacity 0.4s linear;
    &.active {
      bottom: 0;
      opacity: 1;
    }
    h2 {
      position: absolute;
      top: -3rem;
      font-size: 5rem;
      padding: 0 1rem 0;
      margin: 0 0 0 38vw;
      background: rgb(255, 255, 255);
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1), 0px 0px 6px rgba(0, 0, 0, 0.1);

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -1px;
        border-radius: inherit;
        background: linear-gradient(to bottom, black, white);
        //background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 44%, rgba(87,81,81,0.53125) 72%, rgba(255,255,255,1) 86%, rgba(255,255,255,1) 100%);
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0px -12px 30px rgba(0, 0, 0, 0.5);
        z-index: -1;
      }
      > a {
        position: absolute;
        top: 0.5em;
        height: 2.25em;
        width: 5em;
        border: 1px solid;
        /* text-indent: -100000px; */
        background: rgb(255, 255, 255);
        box-shadow: 0px -6px 29px rgba(0, 0, 0, 0.5);
        font-size: 0.3em;
        line-height: 1.5em;
        > i {
          font-size: 0.5em;
          line-height: 1.1em;
          display: block;
        }
      }
      > a.step-prev {
        right: 105%;
      }
      > a.step-next {
        left: 105%;
      }
      .status {
        position: absolute;
        font-size: 0.2em;
        display: block;
        width: 100%;
        bottom: -0.7em;
        left: -1px;
        border: 1px solid;
        border-top: none;
        background: #fff;
        box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.3);
        padding: 0 0 0.2em;
      }
    }
    > a.close-the-hey {
      position: absolute;
      right: 2em;
      padding: 0.1em 0.5em;
      bottom: 1.6em;
      background: rgb(16, 97, 169);
      color: rgb(255, 255, 255);
      border: 1px solid rgb(0, 0, 0);
      border-top: none;
      border-radius: 0 0 5px 5px;
    }
    section {
      text-align: left;
      padding: 1.75em 1em 1em;
      border: 3px double #666; // hail satan
      bottom: 3em;
      position: absolute;
      top: 2em;
      right: 2em;
      z-index: -1;
      background: rgba(255, 255, 255, 1);

      left: 110%;
      opacity: 0;
      transition: left 0.4s ease-in-out, opacity 0.4s linear;
      > div {
        height: 100%;
        padding: 0.5em;
        margin: -0.5em; // see wut i did thar?
        font-size: 1em;
      }
      &.condensed > div {
        font-size: 0.001em;
        color: transparent;
        strong {
          font-size: 1rem;
          color: #000;
          float: left;
          padding: 0.25rem 0 0.25rem 0.25rem;
          border-radius: 0;
          background: none;
          &.new-line {
            clear: left;
            text-transform: capitalize;
          }
        }
      }
      &.condensed > div li {
        border-color: transparent;
        background: transparent;
      }
      p {
        margin: 0 0 0.75em;
        strong {
          font-weight: bold;
          font-size: 1.1em;
          background: rgb(238, 238, 238);
          padding: 0 5px;
          border-radius: 5px;
        }
        .highlight-menu {
          color: red;
          cursor: default;

          &:after {
            content: "";
            display: block;
            position: fixed;
            height: 1px;
            width: 1px;
            border: 28px solid rgba(0, 0, 0, 0);
            border-left: 50px solid rgb(255, 0, 0);
            top: 1em;
            right: 500em;
            opacity: 0;
            transition: right 0.4s ease-in-out, opacity 0.4s linear;
          }
          &:hover:after {
            opacity: 1;
            right: 5em;
            animation: blink 1s steps(5, start) infinite;
            -webkit-animation: blink 1s steps(5, start) infinite;
          }
        }
        .highlight-brevity {
          color: red;
          cursor: default;

          &:after {
            content: "";
            display: block;
            position: fixed;
            height: 1px;
            width: 1px;
            border: 28px solid rgba(0, 0, 0, 0);
            border-top: 50px solid rgb(255, 0, 0);
            left: 4em;
            bottom: 500em;
            opacity: 0;
            transition: bottom 0.4s ease-in-out, opacity 0.4s linear;
          }
          &:hover:after {
            opacity: 1;
            bottom: 2em;
            animation: blink 1s steps(5, start) infinite;
            -webkit-animation: blink 1s steps(5, start) infinite;
          }
        }
      }
      &.current {
        left: 2em;
        opacity: 1;
      }
      > header {
        position: absolute;
        top: -0.75em;
        color: rgb(255, 255, 255);
        font-size: 2.25em;
        font-weight: bold;
        text-shadow: 0 2px 5px #000;
      }
      .taggy {
        margin: 0.5em;
        li {
          border: 1px solid rgb(0, 0, 0);
          display: inline-block;
          padding: 0.5em;
          margin: 0 0.5em 0.5em 0;
          background: rgb(102, 102, 102);
          color: rgb(255, 255, 255);
          border-radius: 3px;
        }
      }
      .orderly {
        margin: 0.5em 0.5em 1em;
        li {
          padding: 0.25em 0.5em;
        }
      }
      .condensificator {
        position: absolute;
        left: -0.2em;
        padding: 0.1em 0.5em;
        bottom: -1.55em;
        background: rgb(16, 97, 169);
        color: rgb(255, 255, 255);
        border: 1px solid rgb(0, 0, 0);
        border-top: none;
        border-radius: 0 0 5px 5px;
        cursor: pointer;
      }
    }
    &[data-current-section="1"] {
      a.step-prev {
        display: none;
      }
    }
  }
}

/* preload */
body {
  background: rgba(136, 0, 0, 1);
}
body.loading {
  background: rgba(136, 0, 0, 1);
  #root > header {
    visibility: hidden;
  }
  #root > main {
    visibility: hidden;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 38vw;
    top: 5em;
    margin: 0 0 0 -10em;
    width: 20em;
    height: 20em;
    border-style: solid;
    border-color: rgba(255, 255, 255, 1);
    border-top-color: transparent;
    border-width: 0 4px 8px 4px;
    border-radius: 50%;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
    box-shadow: 0px 0 20px rgba(255, 255, 255, 0.5);
    opacity: 0.2;
  }
}
body.loaded {
  background: rgba(255, 255, 255, 1);
  #root > header {
    visibility: visible;
  }
  #root > main {
    visibility: visible;
  }
}

/* Contact Info - nav-ish thingy */
.contact-info {
  min-height: 0;
  min-width: 0;
  position: absolute;
  right: -100%;
  top: 0;
  transition: right 0.4s ease-in-out;
  cursor: pointer;
  &::before {
    content: "\f0c9"; // f05a f142 f0c9
    font-family: $iconFont;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 100%;
    padding: 0.6em 0.5em 0.5em 2.5em;
    display: inline-block;
    font-size: 1.5em;
    text-align: left;
    border-bottom: 1px solid;
    line-height: 0.75em;
    z-index: 5;
    transition: height 0.2s linear, width 0.2s linear, top 0.2s linear,
      left 0.2s linear;
    border: 1px solid transparent;
    background: none;
    width: 1.5em;
    text-align: center;
    transition: all 0.4s linear;
    padding: 0;
    height: 1.5em;
    line-height: 1.5em;
    top: 0;
    left: -100px;
    font-size: 4em;
    border-radius: 50%;
  }
  &::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    width: 100%;
    padding: 0.6em 0.5em 0.5em 2.5em;
    display: inline-block;
    font-size: 1.5em;
    text-align: left;
    border-bottom: 1px solid;
    line-height: 0.75em;
    z-index: 5;
    transition: height 0.2s linear, width 0.2s linear, top 0.2s linear,
      left 0.2s linear, color 0.5s linear;
    color: transparent;
  }
  &.active {
    right: 0;
    cursor: unset;

    &::after {
      content: "More Stuff";
      color: inherit;
    }
    &::before {
      left: 1px;
      border-right: 1px solid #000;
      background: rgb(238, 238, 238);
      line-height: 1.85em;
      width: 2em;
      height: 1.9em;
      font-size: 1.5em;
      border-radius: 0;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 3em 0 0 0;
    border: 1px solid;
    border-width: 0 0 1px 1px;
    background: #fff;
    box-shadow: 20px 6px 30px rgba(0, 0, 0, 0.5);

    > li {
      text-align: left;
      margin: 0;
      padding: 0.3em 1em 0.3em 0.5em;
      &:hover {
        background: #eee;
      }
      &.active {
        background: #800;
        color: #fff;
        button {
          background: #800;
          color: #fff;
        }
        a {
          background: #800;
          color: #fff;
        }
      }
      sup i {
        border: none;
        font-size: 0.75em;
        width: auto;
        padding: 0;
      }
      &.debug-toggle {
        display: none;
      }
      &.tools-toggle {
        display: none;
      }
      &.tts-toggle {
        display: none;
      }
      button {
        display: block;
        border: 0;
        background: none;
        padding: 0;
        margin: 0;
        color: red;

        > span {
          padding-left: 1em;
          font-style: normal;
        }
      }
      a {
        display: block;
        border: 0;
        background: none;
        padding: 0;
        margin: 0;
        color: red;

        > span {
          padding-left: 1em;
          font-style: normal;
        }
        &:hover {
          text-decoration: none;
        }
        &:focus {
          text-decoration: none;
        }
      }
      i {
        display: inline-block;
        width: 2.2em;
        text-align: center;
        border-right: 1px solid;
        padding: 0 0.15em;
      }
      address {
        display: inline;
        > span {
          padding-left: 1em;
          font-style: normal;
        }
        .line-one {
          display: none;
        }
      }
    }
  }

  li.toggler.pallet-toggle {
    padding-left: 3em;
  }
  li.toggler.fonts-toggle {
    padding-left: 3em;
  }
  li.just-the-tip {
    height: 1.75em;
    background: rgba(0, 0, 0, 0.8) !important;
    padding: 0;
    position: relative;
    top: -3px;
    z-index: 5;
    &:hover {
      height: 1.75em;
      background: rgba(0, 0, 0, 0.8) !important;
      padding: 0;
      position: relative;
      top: -3px;
      z-index: 5;
    }
    &:after {
      content: "x";
      position: absolute;
      top: -1.3em;
      right: 0.5em;
      color: rgb(255, 0, 0);
      font-size: 2em;
      font-weight: bold;
      cursor: pointer;
      z-index: -1;
    }
  }
}

/* theme toggle */
.contact-info li.theme-toggle i.fa-toggle-on {
  display: none;
}
.contact-info li.theme-toggle i.fa-toggle-off {
  display: inline-block;
}
.contact-info li.theme-toggle.active i.fa-toggle-off,
.agile .contact-info li.theme-toggle i.fa-toggle-off {
  display: none;
}
.contact-info li.theme-toggle.active i.fa-toggle-on,
.agile .contact-info li.theme-toggle i.fa-toggle-on {
  display: inline-block;
}

/* tts toggle */
.contact-info li.tts-toggle i.fa-comment-dots {
  display: none;
}
.contact-info li.tts-toggle i.fa-comment {
  display: inline-block;
}
.contact-info li.tts-toggle.active i.fa-comment,
.tts .contact-info li.tts-toggle i.fa-comment {
  display: none;
}
.contact-info li.tts-toggle.active i.fa-comment-dots,
.tts .contact-info li.tts-toggle i.fa-comment-dots {
  display: inline-block;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* a few retroactive rules to counter agile theme */
.res-doodles  li img,
//.res-history .gallery,
.res-education li img,
.tabs input,
.tabs label,
.tabs li.chart,
.tabs li.table,
.tabs li.stars {
  display: none;
}
aside li > div {
  border-top: 1px solid rgb(187, 187, 187);
  margin-bottom: 3em;
}
time,
time div {
  display: inline;
}

details {
  .show-toggle {
    padding-left: 0.5em;
    display: inline;

    &.show-less {
      padding-left: 0.5em;
      display: none;
    }
  }
  &[open] {
    .show-more {
      display: none;
    }
    .show-less {
      display: inline;
    }
  }
  summary {
    cursor: pointer;
    margin-top: 1em;

    > i.fas {
      display: none;
    }
  }
  .custom-list li {
    list-style-type: square;
    padding: 0.5rem 2rem;
  }
  .res-history {
    .gallery {
      li {
        display: inline-block;
        p {
          display: none;
        }
      }
      img {
        height: 100px;
      }
    }
  }
}

/* Section Actions */
section {
  nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
    display: none;
    button {
      background: none;
      border: 0;
      display: inline-block;
      height: 1em;
      width: 1em;
      text-indent: -10000px;
      margin: 0;
      padding: 0;
      position: relative;
      text-align: center;
      cursor: pointer;
      opacity: 0.3;
      text-shadow: 1px 0px 0px white, -1px 0px 1px black;
      color: rgb(119, 103, 54);
      &:hover {
        opacity: 0.5;
        color: rgb(140, 0, 0);
      }
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        font-family: $iconFont;
        text-indent: 0;
        font-size: 1em;
      }
      &.editable {
        &::after {
          content: "\f044";
        }
      }
      &.print-basket {
        &::after {
          content: "\f02f"; // f02f f217
          top: -3px;
        }
      }
      span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 101;
      }
    }
  }
  &.edit-active {
    nav {
      button.editable {
        opacity: 0.5;
        color: rgb(140, 0, 0);
        &:hover {
          color: rgb(119, 103, 54);
        }
        &::after {
          content: "\f28d";
          content: "\f28d";
        }
      }
    }
  }
  &.print-me {
    nav {
      button.print-basket {
        opacity: 0.5;
        color: rgb(140, 0, 0);
        &:hover {
          color: rgb(119, 103, 54);
        }
        &::after {
          content: "\f07a";
          content: "\f07a";
        }
      }
    }
  }
  article {
    nav {
      font-size: 1.75em;
      top: 0.25em;
    }

    &.edit-active {
      nav {
        button.editable {
          opacity: 0.5;
          color: rgb(140, 0, 0);
          &:hover {
            color: rgb(119, 103, 54);
          }
        }
      }
    }
    &.print-me {
      nav {
        button.print-basket {
          opacity: 0.5;
          color: rgb(140, 0, 0);
          &:hover {
            color: rgb(119, 103, 54);
          }
        }
      }
    }
  }
}

body.tools-active {
  section {
    nav {
      display: block;
    }
  }
}
section.res-skills {
  h3 {
    nav {
      font-size: 1.5em;
      top: 0;
    }
  }
}

/* other actions */
footer {
  .extra {
    width: 1.5em;
    height: 1.5em;
    display: none;
    padding: 0;
    margin: 0;
    position: fixed;
    right: 1.5vw;
    top: 2.5em;
    text-align: center;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.2);
    z-index: 50;
    font-family: $iconFont;
    font-size: 3em;
    border-radius: 50%;
    line-height: 0.95em;
    opacity: 0.2;
    text-shadow: 2px -1px 0px white, 0px 0px 0px black;
    color: #776736;
    &::after {
      content: "Tools";
      font-size: 0.4em;
      position: absolute;
      left: 0;
      color: #000;
      font-weight: normal;
      width: 100%;
      text-align: center;
      bottom: 0;
      font-family: $headerFont;
      display: none;
    }
    &:hover {
      opacity: 0.4;
      &::after {
        display: block;
      }
    }
  }
  .toppy {
    &::after {
      content: "Top";
    }
  }
  .froggy {
    &::after {
      content: "???";
    }
  }
  .cleany {
    &::after {
      content: "Disorder";
      font-size: 0.35em;
    }
    &:hover {
      -moz-transform: rotate(-10deg);
      -webkit-transform: rotate(-10deg);
      -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
  }
}
.entropy {
  footer {
    .cleany {
      -moz-transform: rotate(-10deg);
      -webkit-transform: rotate(-10deg);
      -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
      transform: rotate(-10deg);

      &::after {
        content: "Order";
      }
      &:hover {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
      }
    }
  }
}

/* hide content for me/map */
body.map-active aside,
body.map-active .main-content,
body.me-active aside,
body.me-active .main-content {
  visibility: hidden;
}
body.map-active footer,
body.me-active footer {
  height: 0px;
}

/* moi vieu */
footer div.res-me {
  width: 100%;
  height: 100%;
  position: fixed;
  right: -110%;
  top: 0;
  bottom: 0;
  text-align: left;
  //padding-top: 3rem;
  opacity: 0;
  transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;

  article {
    font-size: 1em;
    margin: 16vh 5vw;
    height: 66vh;
    width: 50vw;
    overflow-x: hidden;
    overflow-y: auto;
    p {
      margin: 0;
      font-family: "Architects Daughter", cursive;
      display: block;
      font-size: 1.5em;
      padding: 0 1em 1em;
    }
  }
  span {
    display: inline-block;
    position: absolute;
    right: 8em;
    bottom: -10vh;
    height: 90vh;
  }

  &.active {
    right: 0;
    opacity: 1;
    img {
      height: 100%;
      -webkit-animation: flickerAnimation 30s infinite;
      -moz-animation: flickerAnimation 30s infinite;
      -o-animation: flickerAnimation 30s infinite;
      animation: flickerAnimation 30s infinite;
    }
    span {
      &::after {
        content: "";
        height: 100%;
        background: url(../img/moi-3.png) 100% 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0;
        -webkit-animation: flickerAnimation 20s infinite;
        -moz-animation: flickerAnimation 20s infinite;
        -o-animation: flickerAnimation 20s infinite;
        animation: flickerAnimation 20s infinite;
      }
    }
  }
}

/* map view */
footer div.res-map {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 110%;
  bottom: 0;
  top: 0;
  border-bottom: none;
  text-align: left;
  //padding-top: 3rem;
  opacity: 0;
  transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;

  &.active {
    left: 0;
    opacity: 1;
  }
  &:hover {
    border-color: rgba(140, 0, 0, 1);
  }

  .res-map-info {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #8c0000;
    width: 100%;
    left: 0;
    background: rgba(58, 53, 53, 0.76);
    color: #fff;
    text-shadow: 2px 2px 3px #000;
    p {
      margin: 0.25em;
      font-size: 1em;
      line-height: 1.25em;
      padding: 0.5em;
      text-align: center;

      &.thinking {
        position: relative;
        min-width: 20em;
        min-height: 2em;

        &::after {
          content: "";
          display: block;
          position: absolute;
          left: 0.5em;
          top: 0.5em;
          width: 1em;
          height: 1em;
          border-style: dotted;
          border-color: #ed9a40;
          border-top-color: transparent;
          text-shadow: 2px 2px 3px white;
          border-width: 4px;
          border-radius: 50%;
          -webkit-animation: spin 0.8s linear infinite;
          animation: spin 0.8s linear infinite;
        }
      }
    }
  }
  #Commute {
    // google map container
    height: 100%;
    width: 100%;
    #mapContent {
      h4 {
        margin: 0;
        font-size: 1em;
      }
    }
  }
}

/* map/moi closer */
.full-view {
  button.closer {
    z-index: 100;
    position: absolute;
    top: 10vh;
    left: 69vw;
    display: inline-block;
    height: 5em;
    width: 5em;
    text-indent: -10000px;
    text-align: center;
    border: 0;
    background: none;
    cursor: pointer;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      font-family: "Special Elite", cursive;
      text-indent: 0;
      font-size: 5em;
      content: "x";
      -moz-transform: rotate(20deg);
      -webkit-transform: rotate(20deg);
      -o-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
      transform: rotate(20deg);
      font-weight: bold;
      opacity: 0.5;
      text-shadow: 1px 1px 2px white, -1px -1px 2px black;
      color: rgb(119, 103, 54);
    }
  }
}

@-webkit-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.fade-in {
  opacity: 1 !important;
  transition: opacity 4s linear forwards !important;
} // ??
