
.tabs input,
.tabs label,
.tabs li.chart,
.tabs li.table,
.tabs li.stars { display: none; }

/* Tabs general **********************************/
.agile .tabs {
	 float: none;
	 list-style: none;
	 position: relative;
	 margin: 0;
	 text-align: left;
	 padding: 0;
	 font-size: 1em;
}
.agile section .tabs li {
	 display: block;
}
.agile .tabs input[type="radio"] {
	display: block;
	 position: absolute;
	 top: 0;
	 left: -9999px;
}
.agile .tabs label {
	 display: inline-block;
	 padding: 4px 8px;
	 border-radius: 2px 2px 0 0;
	 background: $coco3;
	 cursor: pointer;
	 position: absolute;
	 top: 4px;
	 transition: all 0.2s ease-in-out;
	 border: 1px solid $darkBorderColor;
	 border-bottom: none;
	 color: $light;
}
.agile .tabs label:hover {
	 background: $lighter;
	 color: $tabIconColor;
}
.agile .tabs .tab-content {
	z-index: 2;
	display: none;
	overflow: hidden;
	padding: 1em;
	left: 0;
	background: #fff;
	position: relative;
	top: 30px;
	min-height: 150px;
}
.agile .tabs [id^="tab"]:checked + label {
	 top: 0;
	 padding: 6px 10px 5px;
	 background: #fff;
	 z-index: 3;
	 border-color: $darkBorderColor;
	 color: $tabIconColor;
}
.agile .tabs [id^="tab"]:checked ~ [id^="tab-content"] {
	 display: block;
}


/* aside tabs specific **********************************/
.agile .tabs li:nth-child(1) label { right: 128px; }
.agile .tabs li:nth-child(2) label { right: 91px; }
.agile .tabs li:nth-child(3) label { right: 53px; }
.agile .tabs li:nth-child(4) label { right: 16px; }
.agile .tabs.closed .tab-content {
	height: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}
.agile .tab-content p { padding: 0; margin: 0; }




/* header tabs specific **********************************/
header .tabs li:nth-child(5) label { left: 10px; }
header .tabs li:nth-child(6) label { left: 44px; }

header .res-deets .tabs label {
	 border-radius: 0 0 2px 2px;
	 top: auto;
	 bottom: -26px;
	 border: 1px solid $coco3;
	 border-top: none;
}
header .res-deets .tabs .tab-content {
	width: 100%;
	padding: 10px;
	left: 0;
	border: 1px solid $coco4;
	background: #fff;
	position: relative;
	top: 0;
	margin-bottom: 0;
}
header .res-deets .tabs [id^="deetTab"]:checked + label {
	 bottom: -30px;
	 padding-bottom: 8px;
}
header .res-deets .tabs [id^="deetTab"]:checked ~ [id^="deetTab-content"] {
	 display: block;
}