
/* Honey, I shrunk the header. */
body>header { transition: 0.2s; }
body>header.shrink {
	height: 50px;
	transition: 0.2s;
	}

body>header h1 { transition: 0.2s; }
body>header.shrink h1 {
	font-size: 3.5vw;
    height: 44px;
    transition: 0.2s;
	}


/* Navigation */
nav { 
	position: absolute;
    bottom: -32px;
    width: $fibHeadWidthA;
    left: $fibWidthB;
    height: 32px;
    text-align: justify;
	text-align-last: center;
    border: 1px solid #ccc;
    border-top: none;
    /*background: #fff url("../img/paper-texture.png");*/
    background: #fff;
	}
body>header.shrink nav { /* scrolly */
	
	}
	nav a { 
		/*display: inline-block;*/
		display: none;
	    margin: 67px 0 0px -118px;
	    font-size: 1.5em;
	    transform: rotate(-60deg);
	    text-align: left;
	    width: 175px;
	    text-decoration: none;
	    background: #fff url(../img/paper-texture.png);
	    padding: 6px 10px;
	    border: 1px solid #ccc;
	    position: relative;
	    left: 40px;
		}



section.res-deets {
	position: absolute;
	right: 0;
	top: 0;
	width: $fibHeadWidthB;
	height: 100px;
	padding: 0;
	}

span.line-one { display: none; }

/* Map & Photo */
#map, #moi {
	z-index: 10;
    height: 100%;
    width: 100%;
	}
#map {height: 250px; }

#deetTab-content4, #deetTab-content1 { text-align: center; }
	.res-deet-qr img, .res-deet-photo img { height: 160px; margin: 0 auto; }
