/* skills general */
body.agile {
	aside {
		.res-skills {
			h3 {
				margin: -1em -30% 1em 2em;
				width: auto;
				display: inline-block;
				font-family: $subSectionFont;
				position: relative;
				bottom: -1em;
				background: $color3 url(../img/paper-texture.png);
				span {
					display: inline-block;
					margin: 0;
					width: auto;
					padding: .25em .5em;
					float: right;
					font-size: 1.5em;
					text-align: left;
				}
			}
			>ul {
				position: relative;
				list-style-type: none;
				margin: 0;
				padding: 0;
				>li {
					position: relative;
					margin: 0 0 3em;
					padding: 0;
				}
			}
		}
	}
}


/* skill tabs */
.agile {
	.tabs {
		float: none;
		list-style: none;
		position: relative;
		margin: 0;
		text-align: left;
		padding: 0;
		font-size: 1em;
		li {
			display: block;
			&:nth-child(1) {
				label {
					right: 128px;
				}
			}
			&:nth-child(2) {
				label {
					right: 91px;
				}
			}
			&:nth-child(3) {
				label {
					right: 53px;
				}
			}
			&:nth-child(4) {
				label {
					right: 16px;
				}
			}
		}
		input[type="radio"] {
			display: block;
			position: absolute;
			top: 0;
			left: -9999px;
		}
		label {
			display: inline-block;
			padding: 4px 8px;
			border-radius: 2px 2px 0 0;
			background: $coco3;
			cursor: pointer;
			position: absolute;
			top: 4px;
			transition: all 0.2s ease-in-out;
			border: 1px solid $darkBorderColor;
			border-bottom: none;
			color: $light;
			&:hover {
				background: $lighter;
				color: $tabIconColor;
			}
		}
		.tab-content {
			z-index: 2;
			display: none;
			overflow: hidden;
			padding: 1em;
			left: 0;
			background: #fff;
			position: relative;
			top: 30px;
			min-height: 150px;

			p {
				padding: 0;
				margin: 0;
			}
		}
		[id^="tab"] {
			&:checked {
				+ {
					label {
						top: 0;
						padding: 6px 10px 5px;
						background: #fff;
						z-index: 3;
						border-color: $darkBorderColor;
						color: $tabIconColor;
					}
				}
				~ {
					[id^="tab-content"] {
						display: block;
					}
				}
			}
		}
		&.closed {
			.tab-content {
				height: 0 !important;
				padding: 0 !important;
				border: 0 !important;
			}
		}
	}
}


body.agile {
	aside {
		.tab-content {
			dl {
				margin: 0;
				padding: 0;
			}
			dt {
				margin: 0;
				padding: 0.4em 0;
				display: inline-block;
				line-height: 1.2em;
				vertical-align: middle;
				font-weight: bold;
				text-align: right;
				font-family: $specialFont;
				font-size: .9em;
				line-height: 1em;
				width: 28%;
			}
			dd {
				margin: 0;
				padding: 0.4em 0;
				display: inline-block;
				line-height: 1.2em;
				vertical-align: middle;
				white-space: nowrap;
				letter-spacing: -3px;
				font-size: 1.2em;
			}
			.galaxy {
				dd {
					i {
						font-size: 0.8em;
						color: rgb(227, 197, 103);

						&.full-star {
							&:before {
								content: $star;
							}
						}
						&.half-star {
							&:before {
								content: $halfStar;
							}
						}
						&.empty-star {
							&:before {
								content: $star;
							}
						}
					}
				}
			}
			dd.res-years {
				display: none;
			}
			p {
				padding: .5em 1em;
				border-bottom: 1px dotted #ccc;
				font-size: 1em;
				font-family: $specialFont;
				color: #666;
				strong {
					font-family: $subSectionFont;
					color: #000;
				}
			}
			table {
				width: 102%;
				border-collapse: collapse;
				-moz-transform: rotate(-1deg);
				-webkit-transform: rotate(-1deg);
				-o-transform: rotate(-1deg);
				-ms-transform: rotate(-1deg);
				transform: rotate(-1deg);
				margin: -2px;
			}
		}
	}
}
